@{
    ViewData["Title"] = "Error Page";
    //Layout = "";
}

<div class="fourofour">404</div>

<h2 class="archivetitle">Error 404 - Page Not Found</h2>

<div class="entry">
    <p>The page you requested could not be found. Perhaps searching will help.</p>
    <div class="search-box">
        <form id="frmSearch" method="get" asp-controller="Post" asp-action="SearchPost">
            <input type="text" size="15" class="search-field" name="KeyWord" id="KeyWord" placeholder="Search this site"><input type="submit" value="" class="search-go">
        </form>
    </div>
</div>